{% extends 'chats/base.html' %}
{% load static %}
{% block title %}
	AnonRoom || Dashboard
{% endblock %}
{% block content %}
	<header>
		<div class="navbar">
			<a href="dashboard.html"><img src="{% static 'image/new.png' %}" alt="Logo" /></a>
			<ul class="nav-links">
				<!-- <a href="">Guest</a> -->
				<a href="{% url 'logout' %}">Logout</a>
			</ul>
		</div>
	</header>
	<body>
		<section>
			<div class="dash-card">
				<form method="post" action="">
					{% csrf_token %}
					<label>Generate a Random Room</label>
					{% if randROOM == None %}
						<h3></h3>
					{% else %}
						<h3>{{randROOM}}</h3>
					{% endif %}
					<button type="submit" class="btn-links">Generate</button>
				</form>
				<a href="{% url 'room' randROOM  %}" class="btn-links">Go to the Room</a>
			</div>
		</section>
	</body>
{% endblock %}