{% extends 'chats/base.html' %}
{% load static %}
{% block title %}
AnonRoom || Enter Room
{% endblock %}
{% block content %}
<header>
	<div class="navbar">
		<a href="{% url 'index' %}"><img src="{% static 'image/new.png' %}" alt="Logo" /></a>
		<ul class="nav-links">
			<!-- <a href="">Guest</a> -->
			<a href="{% url 'index' %}">Dashboard</a>
			<a href="{% url 'saveroom' %}">Save Room</a>
			<a href="{% url 'logout' %}">Logout</a>
		</ul>
	</div>
</header>

<body>
	<section>
		<div class="dash-card">
			<form method="post" action="">
				{% csrf_token %}
				<label>Go to a Room</label>
				<div class="username">
					<label>Room Name</label>
					<input type="text" name="roomName" required />
				</div>
				<button type="submit" class="btn-links">Enter</button>
			</form>
		</div>
	</section>
</body>
{% endblock %}