{% extends 'chats/base.html' %}
{% load static %}
{% block title %}
	Login
{% endblock %}
{% block content %}
	<h1>Login</h1>
	<div>
		<form action="" method="POST">
			{% csrf_token %}
			<label>User Name: </label>
			<input type="text" name="username">
			<label>Password: </label>
			<input type="password" name="password">
			<div >
				<button type="submit">Login</button>
				<button type="reset">Reset</button>
			</div>
			{% for i in messages %}
				<p class="message">{{i}}</p>
			{% endfor %}
			<p>Need to Register? Click <a href="{% url 'register' %}">here</a></p>
		</form>
	</div>
{% endblock %}