{% extends 'chats/base.html' %}
{% load static %}
{% block title %}
	Login || AnonRoom
{% endblock %}
{% block content %}
	<body>
		<section class="card-wrapper">
			<div class="login">
				<form action="" method="post">
					<h1>Login</h1>
					{% csrf_token %}
					<div class="login-input">
						<div class="username">
							<label for="Username">Username</label>
							<input type="text" name="username" required />
						</div>
						<div class="password">
							<label for="Username">Password</label>
							<input type="password" name="password" required />
						</div>
					</div>
					<button type="submit">Login</button>
				</form>
				{% for i in messages %}
					<p class="message">{{i}}</p>
				{% endfor %}
				<p class="low">Need to Register? Click <a href="{% url 'register' %}">here</a></p>
			</div>
		</section>
	</body>
{% endblock %}