{% extends 'chats/base.html' %}
{% load static %}
{% block title %}
	Register
{% endblock %}
{% block content %}
	<body>
		<section>
			<div class="card-wrapper-register">
				<div class="card-login">
					<form action="" method="post">
						{% csrf_token %}
						<h1>Register</h1>
						<div class="register-input">
							<div class="username">
								<label for="Username">Username</label>
								{{form.username}}
							</div>
							<div class="email">
								<label for="Email">Not Really Important Email</label>
								{{form.email}}
							</div>
							<div class="password">
								<label for="Password">Password</label>
								{{form.password1}}
							</div>
							<div class="password">
								<label for="Password">Confirm Password</label>
								{{form.password2}}
							</div>
						</div>
						<div class="register-btn">
							<button type="submit" class="button-register">Register</button>
							<button type="reset" class="button-register">Reset</button>
						</div>
						<p class="message">{{form.errors}}</p>
					</form>
					<p>Already Register? Click <a href="{% url 'login' %}">here</a></p>
				</div>
			</div>
		</section>
	</body>
{% endblock %}