{% extends 'chats/base.html' %}
{% load static %}
{% block title %}
	Register
{% endblock %}
{% block content %}
<a href="{% url 'login' %}">Go Back</a>
	<h1>Register</h1>
	<div>
		<form action="" method="POST">
			{% csrf_token %}
			<label>User Name: </label>
			{{form.username}}
			<label>Not Really Important Email: </label>
			{{form.email}}
			<label>Password: </label>
			{{form.password1}}
			<label>Confirm Password: </label>
			{{form.password2}}
			<p>{{form.errors}}</p>
			<div>
				<button type="submit">Register</button>
				<button type="reset">Reset</button>
			</div>
		</form>
	</div>
{% endblock %}
