{% extends 'chats/base.html' %}
{% load static %}
{% block title %}
	AnonRoom || Saved Room
{% endblock %}
{% block content %}
	<header>
		<div class="navbar">
			<a href="{% url 'index' %}"><img src="{% static 'image/new.png' %}" alt="Logo" /></a>
			<ul class="nav-links">
				<!-- <a href="">Guest</a> -->
				<a href="{% url 'index' %}">Dashboard</a>
				<a href="{% url 'enterroom' %}">Enter a Room</a>
				<a href="{% url 'logout' %}">Logout</a>
			</ul>
		</div>
	</header>
	<body>
		<section>
			<div class="dash-card">
				<form action="" method="POST">
					{% csrf_token %}
					<label>Room Name: </label>
					{{form.roomname}}
					<label>Room Code: </label>
					{{form.rooms}}
					<label>Description: </label>
					{{form.description}}
					<div class="btn-flex">
						<button type="submit" class="btn-links">Save Room</button>
						<button type="reset" class="btn-links">Reset</button>
					</div>
				</form>
			</div>
		</section>
	</body>
{% endblock %}